body {
	overflow-x: hidden;
}

#top {
	overflow: hidden;
	overflow-x: hidden;
	width: 100vw;
	height: 100vh;
	background-color: #f2f2f2;
}

#logo {
	font-family: 'Monoton';
  	font-size: 11vw;
  	margin-top: 4vh;
}

#discover {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 4vh;
}

.hoverboard {
	margin-top: 15vh;
	width: 100vh;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

#socialmedia {
	position: absolute;
	bottom: 20px;
	left: 20px;
	overflow: hidden;
	overflow-x: hidden;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.paved {
	padding-top: 40vh;
}

#leavepics {
	padding-top: 10vh;
	text-align: center;
	margin-bottom: 100vh;
}